.layout-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1.5rem 0;
    background: rgba(166, 113, 250, 0.75);
    color: #e0e6f1;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    flex-shrink: 0;
    z-index: 10;
}

.sidebar.open {
    width: 250px;
}

.sidebar.closed {
    width: 70px;
    padding: 1.5rem 0.5rem;
    align-items: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.sidebar-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e4f4f4;
}

.sidebar-toggle {
    background: transparent;
    border: none;
    color: #e9effc;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.sidebar-toggle:hover {
    background-color: rgba(143, 97, 251, 0.654);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 1rem;
    text-decoration: none;
    color: #f5f8ff;
    border-radius: 6px;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 500;
}

.nav-link:hover {
    background-color: rgba(189, 173, 255, 0.292);
    color: #fff;
}

.nav-link.active {
    background-color: rgb(193, 169, 250);
    color: #282c34;
    font-weight: 600;
}

.nav-link span {
    display: inline-block;
    margin-left: 1rem;
}

.sidebar.closed .nav-link span {
    display: none;
}

.sidebar.closed .sidebar-logo,
.sidebar.closed .sidebar-title {
    display: none;
}

/* 
.sidebar-divider {
    border: 0;
    height: 1px;
    background: #3a3f4b;
    margin: 1rem 0;
} */

.sidebar-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #e3ebff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 1rem;
}

.content-container {
    flex-grow: 1;
    padding: 1.2rem;
    /* overflow-y: auto; */
}