:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
img {
  height: 120px;
  width: 200px;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 20px; */
  background: rgb(0, 0, 0);
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(184, 15, 223);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  /* border-color: #646cff; */
  background-color: rgb(151, 8, 184);
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.heart {
  background-color: rgba(0, 0, 0, 0);
}

.heart:hover {
  background-color: rgba(0, 0, 0, 0);
}


/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
}

.productCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}


.productCard img {
  height: 150px;
  width: 100%;
  object-fit: contain;
  margin: 10px 0;
}

.productsWrapper .productCard {
  /* Existing styles for .productCard */
  transition: background-color 0.3s linear;
}

.productsWrapper .productCard:hover {
  background-color: rgba(145, 43, 246, 0.54);
  /* border: 2px solid rgb(91, 41, 216); */
}


.nav-end-content .MuiIconButton-root {
  padding: 10px;
  color: #2a2a2a;
  border-radius: 50%;
  transition: background-color 0.25s, color 0.25s;
}

.nav-end-content .MuiIconButton-root .svg-inline--fa {
  font-size: 1.5rem;
  color: inherit;
}

.nav-end-content .MuiIconButton-root:hover {
  background-color: rgba(172, 129, 229, 0.2);
  color: #fff;
}


.nav-end-content .nav-button:hover {
  background-color: rgba(172, 129, 229, 0.2);
  color: #fff;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(175, 126, 255);
  line-height: 1;
  min-height: 30px;
  padding: 12px 20px;
}


.nav-end-content .nav-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  color: #000;
  white-space: nowrap;
}

/* .nav-end-content .nav-button:hover {
  border-color: #646cff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
} */

.nav-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  color: #000;
}

.nav-button:hover {
  border-color: #646cff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.welcome-text {
  color: black;
  margin: 0;
  padding: 0 10px;
  line-height: 1;
}

button {
  background-color: rgb(184, 15, 223);
  color: white;
}

button:hover {
  background-color: rgba(152, 8, 184, 0.501);
}


.card {
  background: white;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1
}

.cartWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 800px; */
  margin: 20px auto;
  padding: 15px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.87);
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242424;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
}

.cartCard img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.cartCard .itemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cartCard .itemDetails h5 {
  margin: 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.87);
}

.cartCard .itemDetails p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: rgb(251, 251, 251);

}

.cartTotal {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
}

.cartActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cartActions button {
  background-color: #333;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #444;
  margin-left: 10px;
}

.cartActions button:hover {
  background-color: #444;
  border-color: #646cff;
}

.cartActions button span {
  color: rgba(255, 255, 255, 0.87);
}


/* .Add-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: '8px 12px';
  cursor: pointer;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;

}

.form-container form {
  padding: 40px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 360px;
}


.description-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
}

.form-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  color: #fff;
}

.form-container-wrapper .ant-form {
  padding: 40px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 360px;

}

.form-container-wrapper .ant-form-item-label>label {
  color: white;
}

.admin-products-list {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 8px;
}

.admin-products-btn {
  margin: 10px;
}

.search-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 20px;
}

.search-input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  transition: box-shadow 0.2s ease-in-out;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #646cff;

}

.admin-products-table .ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: rgba(255, 249, 249, 0.188);
  color: white;
}

.admin-products-table .ant-pagination .ant-pagination-item-active {
  background-color: #f5f5f5;
  border-color: #1890ff;
  color: black;
}

.admin-products-table .ant-pagination-item:hover a {
  color: white;
  background-color: rgba(232, 100, 255, 0.572);
  border-radius: 5px;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(217, 148, 252, 0.8);
  padding: 1rem;
}

.profile-container {
  width: 100vw;
  max-width: 512px;
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #edf2f7;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.profile-h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 1.5rem;
}

.profile-details {
  margin: 1rem;
}

.profile-inner-container {
  background-color: #f3e8ff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f7fafc;
}

.profile-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #718096;
}

.profile-email {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #1e293b;
  overflow-wrap: break-word;
}

.profile-p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #1e293b;
  text-transform: capitalize;
}

/* In your CSS file (e.g., App.css) */
.paypal-button-container {
  display: flex;
  /* Use Flexbox for alignment */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically (if height is defined) */
  margin-top: 20px;
  /* Add some consistent space above the button */
  padding: 10px;
}